In [2]:
import pandas as pd
import glob
import os

In [26]:
def load_china_10y(filepath):
    df = pd.read_excel(filepath)  # uses header row
    df = df[["Date", "10Y"]]
    df.columns = ["date", "10YS_CHI"]
    df["date"] = pd.to_datetime(df["date"], errors="coerce")
    df["10YS_CHI"] = pd.to_numeric(df["10YS_CHI"], errors="coerce")
    return df.dropna().sort_values("date").reset_index(drop=True)

In [27]:
df = load_china_10y("../data/China-10YS/China10Y-2006.xlsx")
print(df.head())

        date  10YS_CHI
0 2006-03-01      2.90
1 2006-03-02      2.90
2 2006-03-03      2.87
3 2006-03-06      2.93
4 2006-03-07      2.90

C:\Users\Owner\PycharmProjects\SURE_Program\.venv\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [30]:
def load_all_china_10y(directory):
    files = glob.glob(os.path.join(directory, "*.xlsx"))
    frames = [load_china_10y(file) for file in files]
    return pd.concat(frames).sort_values("date").reset_index(drop=True)

In [31]:
df = load_all_china_10y("../data/China-10YS")

C:\Users\Owner\PycharmProjects\SURE_Program\.venv\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\Owner\PycharmProjects\SURE_Program\.venv\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\Owner\PycharmProjects\SURE_Program\.venv\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\Owner\PycharmProjects\SURE_Program\.venv\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\Owner\PycharmProjects\SURE_Program\.venv\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\Owner\PycharmProjects\SURE_Program\.venv\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\Owner\PycharmProjects\SURE_Program\.venv\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\Owner\PycharmProjects\SURE_Program\.venv\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\Owner\PycharmProjects\SURE_Program\.venv\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\Owner\PycharmProjects\SURE_Program\.venv\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\Owner\PycharmProjects\SURE_Program\.venv\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\Owner\PycharmProjects\SURE_Program\.venv\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\Owner\PycharmProjects\SURE_Program\.venv\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\Owner\PycharmProjects\SURE_Program\.venv\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\Owner\PycharmProjects\SURE_Program\.venv\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\Owner\PycharmProjects\SURE_Program\.venv\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\Owner\PycharmProjects\SURE_Program\.venv\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\Owner\PycharmProjects\SURE_Program\.venv\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\Owner\PycharmProjects\SURE_Program\.venv\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\Owner\PycharmProjects\SURE_Program\.venv\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [34]:
output_path = "../data/raw/10YS_CHI.csv"
df.to_csv(output_path, index=False)

In [40]:
df = pd.read_csv("../data/raw/spread/yield_data_full.csv")

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9827 entries, 0 to 9826
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      9827 non-null   object
 1   10YS_USA  8866 non-null   float64
 2   2Y_USA    8866 non-null   float64
 3   10YS_CAN  424 non-null    float64
 4   10YS_GER  424 non-null    float64
 5   10Y_JAP   424 non-null    float64
 6   10YS_MEX  222 non-null    float64
 7   2YS_MEX   389 non-null    float64
 8   2YS_CAN   245 non-null    float64
 9   2YS_GER   665 non-null    float64
 10  2YS_CHI   276 non-null    float64
 11  10YS_CHI  4045 non-null   float64
dtypes: float64(11), object(1)
memory usage: 921.4+ KB

In [45]:
print(df["2YS_MEX"].describe())

count    389.000000
mean      11.241851
std        8.264691
min        3.010000
25%        5.130000
50%        8.080000
75%       15.270000
max       48.020000
Name: 2YS_MEX, dtype: float64

In [48]:
GER_df = df[["date", "10YS_GER", "2YS_GER"]].rename(
    columns={"10YS_GER": "10YS_price", "2YS_GER": "2YS_price"}
)

In [49]:
GER_df

            date  10YS_price  2YS_price
0     1970-01-31         NaN      7.616
1     1970-02-28         NaN      7.656
2     1970-03-31         NaN      8.216
3     1970-04-30         NaN      8.016
4     1970-05-31         NaN      8.306
...          ...         ...        ...
9822  2025-06-04         NaN        NaN
9823  2025-06-05         NaN        NaN
9824  2025-06-06         NaN        NaN
9825  2025-06-09         NaN        NaN
9826  2025-06-10         NaN        NaN

[9827 rows x 3 columns]

In [57]:
df = pd.read_csv("../data/raw/spread/GER_yields.csv")

In [58]:
df

           date  10YS_GER  2YS_GER
0    1970-01-01       NaN   7.6160
1    1970-02-01       NaN   7.6560
2    1970-03-01       NaN   8.2160
3    1970-04-01       NaN   8.0160
4    1970-05-01       NaN   8.3060
..          ...       ...      ...
660  2025-01-01  2.483636   2.3808
661  2025-02-01  2.405500   2.2262
662  2025-03-01  2.741429   2.2791
663  2025-04-01  2.514737   1.9471
664  2025-05-01       NaN   1.9517

[665 rows x 3 columns]

In [59]:
df = pd.read_csv("../data/raw/CCI_OECD.csv")

In [60]:
df.columns

Index(['date',
       'OECD Standardised CCI, Amplitude adjusted (Long term average=100), sa – China (People's Republic of) – Monthly (OECD/MEI_CLI/CSCICP03.CHN.M)',
       'OECD Standardised CCI, Amplitude adjusted (Long term average=100), sa – Germany – Monthly (OECD/MEI_CLI/CSCICP03.DEU.M)',
       'OECD Standardised CCI, Amplitude adjusted (Long term average=100), sa – Japan – Monthly (OECD/MEI_CLI/CSCICP03.JPN.M)',
       'OECD Standardised CCI, Amplitude adjusted (Long term average=100), sa – Mexico – Monthly (OECD/MEI_CLI/CSCICP03.MEX.M)',
       'OECD Standardised CCI, Amplitude adjusted (Long term average=100), sa – United States – Monthly (OECD/MEI_CLI/CSCICP03.USA.M)'],
      dtype='object')

In [65]:
df.rename(columns={"OECD Standardised CCI, Amplitude adjusted (Long term average=100), sa – China (People's Republic of) – Monthly (OECD/MEI_CLI/CSCICP03.CHN.M)":"CCI_CHI",
                   "OECD Standardised CCI, Amplitude adjusted (Long term average=100), sa – Germany – Monthly (OECD/MEI_CLI/CSCICP03.DEU.M)":"CCI_GER",
                   "OECD Standardised CCI, Amplitude adjusted (Long term average=100), sa – Japan – Monthly (OECD/MEI_CLI/CSCICP03.JPN.M)":"CCI_JAP",
                   "OECD Standardised CCI, Amplitude adjusted (Long term average=100), sa – Mexico – Monthly (OECD/MEI_CLI/CSCICP03.MEX.M)":"CCI_MEX",
                   "OECD Standardised CCI, Amplitude adjusted (Long term average=100), sa – United States – Monthly (OECD/MEI_CLI/CSCICP03.USA.M)":"CCI_USA",}, inplace=True)

In [66]:
df["date"] = pd.to_datetime(df["date"], errors="coerce")

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   date     768 non-null    datetime64[ns]
 1   CCI_CHI  407 non-null    float64
 2   CCI_GER  612 non-null    float64
 3   CCI_JAP  501 non-null    float64
 4   CCI_MEX  273 non-null    float64
 5   CCI_USA  768 non-null    float64
dtypes: datetime64[ns](1), float64(5)
memory usage: 36.1 KB

In [68]:
df.to_csv("../data/raw/CCI_OECD.csv")

In [2]:
df = pd.read_csv("../data/raw/canada_combined_fred_data_06-12-2025.csv")

In [3]:
df.columns

Index(['date', 'EPU_CAN', 'IP_CAN', '10YS_CAN', 'INF_CAN', 'EX_CAN', 'IM_CAN',
       'RECESS_CAN', 'GDP_CAN', 'GDPC_CAN', 'GBR_CAN', 'EXR_CAN', 'CCI_CAN',
       'Unemployment_Rate'],
      dtype='object')

In [4]:
df.rename(columns={"Unemployment_Rate":"UNEM_CAN"})

,date,EPU_CAN,IP_CAN,10YS_CAN,INF_CAN,EX_CAN,IM_CAN,RECESS_CAN,GDP_CAN,GDPC_CAN,GBR_CAN,EXR_CAN,CCI_CAN,UNEM_CAN
0,1944-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1944-02-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1944-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1944-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1944-05-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14706,2025-06-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.3699,NaN,NaN
14707,2025-06-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.3722,NaN,NaN
14708,2025-06-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.3668,NaN,NaN
14709,2025-06-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.3667,NaN,NaN
14710,2025-06-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.3686,NaN,NaN

In [5]:
df.to_csv("../data/raw/canada_combined_fred_data_06-12-2025.csv")

In [7]:
df = pd.read_csv("../data/raw/china_combined_data_06-12-2025.csv")

In [8]:
df.columns

Index(['date', 'EPU_CHI', 'IP_CHI', 'INF_CHI', 'IM_CHI', 'EX_CHI', 'TB_CHI',
       'RECESS_CHI', 'GDP_CHI', '10YS_CHI', 'EXR_CHI', 'UNEMP_CHI',
       'GDPC_CHI'],
      dtype='object')

In [10]:
df = pd.read_csv("../data/raw/mexico_combined_data_06-13-2025.csv")

In [11]:
df.columns

Index(['date', 'EPU_MEX', 'IP_MEX', 'INF_MEX', 'GDP_MEX', '2YS_MEX',
       '1OYS_MEX', 'EXR_MEX', 'UNEMP_MEX', 'GDPC_MEX', 'EX_MEX', 'IM_MEX',
       'EX_MEX.1', 'RECESS_MEX', 'UNEMP_MEX+', 'GDPC_MEX+'],
      dtype='object')

In [20]:
df[~df["RECESS_MEX"].isna()]

,date,EPU_MEX,IP_MEX,INF_MEX,GDP_MEX,2YS_MEX,1OYS_MEX,EXR_MEX,UNEMP_MEX,GDPC_MEX,EX_MEX,IM_MEX,EX_MEX.1,RECESS_MEX,UNEMP_MEX+,GDPC_MEX+
35,1960-02-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
36,1960-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
38,1960-04-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
39,1960-05-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
40,1960-06-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1368,2022-04-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
1370,2022-05-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
1372,2022-06-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
1374,2022-07-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
1376,2022-08-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN

In [9]:
df = pd.read_csv("../data/raw/CCI_OECD.csv")

In [10]:
df.drop(columns=["CCI_USA", "Unnamed: 0"], inplace=True)

In [11]:
df.to_csv("../data/raw/CCI_OECD.csv")